<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@3"></script>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div id="app">
<!-- From Uiverse.io by alexruix -->
<div class="header">
    <div class="input-group">
        <input type="text" class="input" ref="InputField"  v-model="display" @keyup.enter="evaluate()" placeholder="Your calculation">
        <input class="button--submit" value="Compute" type="button"  @click="evaluate()">
    </div>
</div>

    <div class="random">
        <div class="input-group">
            <input type="text" class="input" ref="InputRandom"  v-model="seedValue" @keyup.enter="setSeed()" placeholder="Seed Value">
            <input class="button--submit" value="Set seed" type="button"  @click="setSeed()">
        </div>
    </div>

<div class="res">
    <p>Result : {{ output }}</p>
</div>

<div v-if="errorMessage" class="alert" @click="clearError">
    <p>ERROR : {{ errorMessage }}</p>
</div>

<div class="number">
    <button @click="add('1')">1</button>
    <button @click="add('2')">2</button>
    <button @click="add('3')">3</button>
    <button @click="add('4')">4</button>
    <button @click="add('5')">5</button>
    <button @click="add('6')">6</button>
    <button @click="add('7')">7</button>
    <button @click="add('8')">8</button>
    <button @click="add('9')">9</button>
    <button @click="add('0')">0</button>
    <button @click="add('.')">.</button>
    <button @click="clear()">C</button>
</div>

<div class="eraser">
    <button @click="remove()">←</button>
    <button @click="add(' ')">space</button>
</div>

<div class="opbase">
    <button @click="add('+')">+</button>
    <button @click="add('-')">-</button>
    <button @click="add('*')">×</button>
    <button @click="add('/')">/</button>
    <button @click="add('(')">(</button>
    <button @click="add(')')">)</button>
    <button @click="add('mod')">mod</button>
    <button @click="add('**')">^</button>
    <button @click="add('e')">10^x</button>
</div>


<div class="otherop">
    <button @click="add('ln()')">ln</button>
    <button @click="add('log()')">log</button>
    <button @click="add('||')">|x|</button>
    <button @click="add('!')">x!</button>
</div>

<div class="degrad">
    <button @click="mode()">{{ currentMode }}</button>
</div>

<div class="trigo">
    <button @click="add('sin()')">sin</button>
    <button @click="add('arcsin()')">arcsin</button>
    <button @click="add('sinh()')">sinh</button>
    <button @click="add('cos()')">cos</button>
    <button @click="add('arccos()')">arccos</button>
    <button @click="add('cosh()')">cosh</button>
    <button @click="add('tan()')">tan</button>
    <button @click="add('arctan()')">arctan</button>
    <button @click="add('tanh()')">tanh</button>
</div>

<div class="dom">
        <button
                @click="dom('INTEGER')"
                :class="{ active: currentDomain === 'INTEGER' }"
                title="INTEGER">
            ℤ
        </button>

        <button
                @click="dom('REAL')"
                :class="{ active: currentDomain === 'REAL' }"
                title="REAL">
            ℝ
        </button>

        <button
                @click="dom('RATIONAL')"
                :class="{ active: currentDomain === 'RATIONAL' }"
                title="RATIONAL">
            ℚ
        </button>

        <button
                @click="dom('COMPLEX')"
                :class="{ active: currentDomain === 'COMPLEX' }"
                title="COMPLEX">
            ℂ
        </button>

        <button @click="toggleHelp" class="help-button">{{ helpVisible ? "Hide Help" : "Help" }}</button>

        <div class="help-div" v-show="helpVisible">
            <div class="help-backdrop" @click="toggleHelp"></div>
            <div class="help-modal">
                <div class="help-content">
                    <p>{{ helpText }}</p>
                </div>
            </div>
        </div>
    </div>



<div class="special">
    <button @click="add('pi')">π</button>
    <button @click="add('e')">e</button>
    <button @click="add('phi')">φ</button>
    <button @click="add('i')">i</button>
</div>

</div>
<script src="/app.js"></script>
</body>

</html>
