body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* From Uiverse.io by alexruix */
.input-group {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3em;
    left: 3em;
}

.input {
    min-height: 60px;
    max-width: 750px;
    padding: 0 1rem;
    color: #fff;
    font-size: 22px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submit {
    min-height: 62px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #0a2374;
    outline: none;
}


/* From Uiverse.io by adamgiebl */
button {
    background: #b59be3;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 20px;
    border: 3px solid #130232;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.number {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    top: 10em;
    left: 3em;
}

.opbase {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    top: 31em;
    left: 3em;
}

.special {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    top: 42em;
    left: 3em;
}
